<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/universal.css' %}">
    </head>
    <body>
        <div id="header">
            <h3>FriendBook</h3>
            <h4><a href="/main/" class="dlink">Home</a></h4>
            {% if request.session.userid %}
            <h4 class="right"><a href="/main/signout" class="dlink">Log Off</a></h4>
            {% else %}
            <h4 class="right"><a href="/main/" class="dlink">Sign In</a></h4>
            {% endif %}
        </div>
        <div id="wrapper">
            <h2 class="error">That user does not exist!</h2>
            <a href="/friends/">Back</a>
        </div>
    </body>
</html>